html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  text-align: center;
}

h1 {
  color: white;
  font-family: Bevan, serif;
  margin: .3em;
}

ul {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  color: white;
  display: inline-block;
  background-color: #713837;
  padding: .5em .75em;
  margin: 0 0 .3em;
  border-radius: 3px;
  text-decoration: none;
  font-family: arial, sans-serif;
}

a:hover {
  background-color: #f33;

}
